 @media  screen and (min-width: 900px) {
    .header {
	height: 875px;
	}
}





@media screen and (min-width: 120px) and (max-width:480px){
      .header {
	height: 265.75px;
	border: 2px solid red;

}

}







































}

	


