 @media  screen and (min-width: 900px) {
.display-pc {
	display: block;
}
.display-mobile {
	display: none !important;
}
button {
	width: 195px;
	height: 50px;
 	font-size: 16px;
}

.section-top {
	flex-basis:80%;
}
.header {
	height: 875px;
	background-size: cover;
	background-image: url('../template-design/banner.jpg') ;
}

.section-top ul {
	margin-top: 43px;
}

.hapo-erp {
	height: 77px;
	margin-top: 244px;
}


.icon-and-text img {
	width: 52px;
	height: 48px;
}

.icon-and-text p {
	color: #283238;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.07px;
}

 .icon-like p, .icon-like img {
 	margin-left: -70px;
 }

 .txt-content p {
	font-size: 18px;
	margin-top: 50px;
}

.btn-start-top {
     margin-top: 50px;
}

/*------DRY CODE----*/
.body-part1, .body-part2, .body-part4, .body-part5, .body-part6, .body-part7 {
	height: 571px;
}

.img-part1, .img-part2, .img-part4, .img-part5, .img-part7 {
	height: 366.33px;
	width: 100%;
}

.content-part1, .content-part2, .content-part4, .content-part5, .content-part6, .content-part7 {
	display: flex;
	justify-content: space-between;
	flex-direction:row;
	flex-basis:80%;
}

.container-left, .customers-left  {	
	margin-top: 100px;
	height: 366.33px;
	width: 48.62%;
}
.container-right, .customers-right {
	height: 366.33px;
	margin-top: 100px;
	width: 48.68%;
}

.daily-report-left, .members-left, .project-left  {	
	margin-top: 100px;
	height: 366.33px;
	width: 48.62%;
}
.daily-report-right, .members-right, .project-right {
	height: 366.33px;
	margin-top: 100px;
	width: 48.68%;
}

.icon-and-title img {
	margin-top: 13px;
	height: 36px;
	width: 36px;
}

.icon-and-title h1 {
	margin-left: 19px;
	height: 63px;
	width: 308px;
	color: #444444;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -0.09px;
	line-height: 63px;
}

.text-content {
	margin-top: 15px;
}

.text-content span {
	height: 19px;
	width: 442px;
	color: #283238;
	font-family: Roboto;
	font-size: 14px;
	font-style: italic;
	letter-spacing: -0.03px;
	line-height: 19px;
}

.text-content p {
	margin-top: 25px;

	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;

}
.text-content .btn-content {
	margin-top: 30px;
}

/*------DRY CODE----*/

.background-part3 {
	height: 322px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
    background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
}
.body-part3 {
	flex-basis:80%;
	height: 322px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

 .body-part3 .container-part3 {
	width: 109.5px;
}

.icon-part3 {
	height: 36px;
	width: 36px;
}

.body-part3 .container-part3 .oval-1-part3 {
	
	margin-top: 68.75%;
	height: 109.5px;
	width: 109.5px;
	box-sizing: border-box;
	border: 2.5px solid #FFFFFF;
	border-radius: 50%;

	display: flex;
	align-items: center;
    justify-content: center;
}

.body-part3 .container-part3 .oval-2-part3 {
	
	margin-top: -26px;
    margin-left: 31px;
	box-sizing: border-box;
	height: 45.5px;
	width: 45.5px;
	border: 2.5px solid #FFFFFF;
	background-color: #7CB342;
	border-radius: 50%;

	display: flex;
	align-items: center;
    justify-content: center;
}

.body-part3 .container-part3 .oval-2-part3 p {
	height: 32px;
	width: 14px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 24px;
	letter-spacing: -0.05px;
	line-height: 32px;
}

.container-part3 .text-part3 {
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
	text-align: center;
	height: 42px;

	margin-top:25.75px;
}

.body-part6 {
	height: 544px;
	
}
.content-part6 {
	flex-basis:80%;
}

.title-part6 {
	height: 136px;
}

.title-part6 p {
	height: 63px;
	width: 288px;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -0.09px;
	line-height: 63px;
}


.text-lorent {

	margin-top: 10px;
	margin-left: 70px;
	margin-right: 70px;
	justify-content: space-between;
	flex-direction:row;
	
}


.text-lorent img {
	height: 73px;
	width: 73px;
}


.quote-text {
	margin-top: 53px;
}
.quote-text p {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -0.03px;
	line-height: 30px;
}

.quote-right {
	height: 190px;
	width: 100px;
}


.footer {
	height: 180px;
}


.content-footer {
	flex-basis: 80%;
	height: 65%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo-footer  {
	display: flex;
  	flex-direction: column;
  	width: 10%

}


.list-link {
	width:60%;
	margin-top: 20px;
	margin-right: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.icon-social-network {

	width: 15%;
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
 
}

.list-icon-sn {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}




}

