


.body-part1 {

	position: relative;
	height: 571px;
	width: 100%;
	
	background-color: #FFFFFF;
	box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}

.icon25-themify {
	height: 36px;
	width: 36px;
	color: #444444;
	font-family: themify;
	font-size: 36px;
	letter-spacing: -0.07px;
	line-height: 36px;
}
.icon25-themify-part1 {
	position: absolute;
	top: 114px;
	left: 50.78%;

}

.img-part1 {
	position: absolute;
	left:19.7%;
	top: 107px;
	width: 554px;
}

.title-part1 {
	position: absolute;
	left:53.65%;
	top: 100px;
	


	height: 63px;
	width: 308px;
	color: #444444;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -0.09px;
	line-height: 63px;
}

.paragraph1-part1 {
	position: absolute;
	left: 50.78%;
	top: 178px;

	height: 19px;
	width: 442px;
	color: #283238;
	font-family: Roboto;
	font-size: 14px;
	font-style: italic;
	letter-spacing: -0.03px;
	line-height: 19px;

}
.paragraph2-part1 {
	position: absolute;
	left:50.78%;
	top:222px;

	height: 168px;
	width: 555px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
}



.start-now-part1 {
	position: absolute;
	top:15px;
	right:47px;
	bottom:15px;
	left:47px;

	height: 21px;
	width: 101px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
}

.border-start-now-part1 {
	position: relative;
	left: 50%;
	top: 420px;
	height: 50px;
	width: 195px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}


.body-part2 {

	position: relative;
	height: 571px;
	width: 100%;
	background-color: #FFFFFF;

}

.icon201-themify-part2 {
	position: absolute;
	left: 8%;
	top: 114px;

}
.icon201-themify {
	
	height: 36px;
	width: 36px;
	color: #444444;
	font-family: themify;
	font-size: 36px;
	letter-spacing: -0.07px;
	line-height: 36px;
}


.img-part2 {
	position: absolute;
	right:8%;
	top: 107px;
	width: 554px;
}


.title-part2 {
	position: absolute;
	left:12%;
	top: 100px;

	height: 63px;
	width: 308px;
	color: #444444;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -0.09px;
	line-height: 63px;
}

.paragraph1-part2 {
	position: absolute;
	left: 8%;
	top: 178px;

	height: 19px;
	width: 442px;
	color: #283238;
	font-family: Roboto;
	font-size: 14px;
	font-style: italic;
	letter-spacing: -0.03px;
	line-height: 19px;

}
.paragraph2-part2 {
	position: absolute;
	left: 8%;
	top: 222px;

	height: 168px;
	width: 554px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
}



.start-now-part2 {
	position: absolute;
	top:15px;
	right:47px;
	bottom:15px;
	left:47px;

	height: 21px;
	width: 101px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
}

.border-start-now-part2 {
	position: relative;
	left: 8%;
	top: 420px;
	height: 50px;
	width: 195px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.body-part3 {
	position: relative;
	height: 322px;
	width: 100%;
	background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
}

.part3-oval-1 {
	
	box-sizing: border-box;
	height: 109.5px;
	width: 109.5px;
	border: 2.5px solid #FFFFFF;
	border-radius: 50%;
}

.part3-oval-2 {
	position: absolute;
	top: 85px;
	left: 28%; 

	box-sizing: border-box;
	height: 45.5px;
	width: 45.5px;
	border: 2.5px solid #FFFFFF;
	background-color: #7CB342;
	border-radius: 50%;
}

.oval-1-postion1 {
	position: absolute;
	top: 68.75px;
	left: 20.4%; 
}

.oval-1-postion2 {
	position: absolute;
	top: 68.75px;
	left: 33.79%; 
}
.oval-1-postion3 {
	position: absolute;
	top: 68.75px;
	left: 47.23%; 
}
.oval-1-postion4 {
	position: absolute;
	top: 68.75px;
	left: 60.66%; 
}
.oval-1-postion5 {
	position: absolute;
	top: 68.75px;
	left: 74.05%; 
}

.content-oval {

	position: absolute;
	top: 7px;
	left: 28%; 

	height: 32px;
	width: 14px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 24px;
	letter-spacing: -0.05px;
	line-height: 32px;

}
.part3-text-oval {
	
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
	text-align: center;
}

.daily-report {
	height: 42px;
	width: 69px;
	position: absolute;
	top:210px;
	left: 21.46%;

}

.write-til {
	height: 42px;
	width: 55px;
	position: absolute;
	top:210px;
	left: 35.21%;

}
.manage-members {
	height: 42px;
	width: 87px;
	position: absolute;
	top:210px;
	left: 47.81%;
	text-align: center;

}
.manage-customers {
	height: 42px;
	width: 107px;
	position: absolute;
	top:210px;
	left: 60.73%;

}
.manage-projects {
	height: 42px;
	width: 90px;
	position: absolute;
	top:210px;
	left: 74.58%;

}


.icon201-themify-part3 {
	position: absolute;
	top:38px;
	left: 31%;


}

.icon25-themify-part3 {
	position: absolute;
	top:38px;
	left: 32%;

}
.icon259-themify {
	height: 36px;
	width: 36px;
	color: #444444;
	font-family: themify;
	font-size: 36px;
	letter-spacing: -0.07px;
	line-height: 36px;
}

.icon259-themify-part3 {
	position: absolute;
	top:38px;
	left: 32%;

}



.body-part4 {

	position: relative;
	height: 571px;
	width: 100%;
	background-color: #FFFFFF;

}

.icon3-themify {
	height: 36px;
	width: 36px;
	color: #444444;
	font-family: themify;
	font-size: 36px;
	letter-spacing: -0.07px;
	line-height: 36px;
}

.icon3-themify-part4 {
	position: absolute;
	top:114px;
	left: 8%;

}

.img-part4 {

	position: absolute;
	right:8%;
	top: 107px;
	width: 554px;

}

.title-part4 {
	position: absolute;
	top:102px;
	left: 12%;

	height: 63px;
	width: 213px;
	color: #39474E;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -0.09px;
	line-height: 63px;
}

.paragraph1-part4 {
	position: absolute;
	top:178px;
	left: 8%;

	height: 19px;
	
	color: #283238;
	font-family: Roboto;
	font-size: 14px;
	font-style: italic;
	letter-spacing: -0.03px;
	line-height: 19px;

}
.icon78-themify {
	height: 24px;
	width: 18px;
	color: #8BC34A;
	font-family: themify;
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
}

.icon78-themify-part4-position1 {
	position: absolute;
	top:222px;
	left: 8%;
}
.icon78-themify-part4-position2 {
	position: absolute;
	top:289px;
	left: 8%;
}
.icon78-themify-part4-position3 {
	position: absolute;
	top:356px;
	left: 8%;
}

.paragraph2-part4{
	height: 50px;
	width: 517px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	left: 11%;
}

.parag-position1 {
	position: absolute;
	top:223px;
	
}
.parag-position2 {
	position: absolute;
	top:290px;
	
}
.parag-position3 {
	position: absolute;
	top:357px;
	
}


.start-now-part4 {
	position: absolute;
	top:15px;
	right:47px;
	bottom:15px;
	left:47px;

	height: 21px;
	width: 101px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
}

.border-start-now-part4 {
	position: relative;
	left: 8%;
	top: 437px;
	height: 50px;
	width: 195px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}


.body-part5 {

	position: relative;
	height: 571px;
	width: 100%;
	background-color: #FFFFFF;

}