


/*@media only screen and (min-width: 1200px) {*/
	 /* styles for browsers larger than 1440px; */
	.banner {
	position: relative;
	height: 875px;
	width: 100%;
	background-image: url("G:/Data Sublime Text/template-design/banner.jpg") ;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	

}

.img-banner {

	
}


.about-us {	
	position: absolute;
	left:70%;
	top:52px;

	height: 16px;	
	width: 66px;	
	color: #283238;	
	font-family: Roboto;	
	font-size: 12px;	
	letter-spacing: 1px;	
	line-height: 16px;
}

.border-sign-in {
	position: relative;
	top:41px;
	left:75.42%;
	height: 36px;
	width: 82px;
	border: 2px solid #8BC34A;
	border-radius: 100px;

}

.sign-in {
	position: absolute;
	top:10px;
	right:15px;
	bottom:10px;
	left:17px;

	height: 16px;
	width: 50px;
	color: #8BC34A;
	font-family: Roboto;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 16px;
}


.hapo-erp {
	position: absolute;
	left:43.33%;
	top:244px;
	height: 77px;
	width: 256px;
	color: #AED581;
	font-family: Enso;
	font-size: 64px;
	line-height: 77px;

}


.icon113-themify {

width: 100%;

	position: absolute;
	left: 64.53%;
	top: 374px;

	height: 48px;
	width: 52px;
	color: #283238;
	font-family: themify;
	font-size: 48px;
	letter-spacing: 4px;
	line-height: 48px;
}

.icon161-themify {
	position: absolute;
    left: 31.61%;
	top: 374px;

	height: 48px;
	width: 52px;
	color: #283238;
	font-family: themify;
	font-size: 48px;
	letter-spacing: 4px;
	line-height: 48px;
}
.icon199-themify {
	position: absolute;
	left: 48.7%;
	top: 374px;

	height: 48px;
	width: 52px;
	color: #283238;
	font-family: themify;
	font-size: 48px;
	letter-spacing: 4px;
	line-height: 48px;
}

.txt-better {
	position: absolute;
	left: 30.47%;
	top: 436px;
	height: 48px;
	width: 96px;
	color: #283238;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: -0.07px;
	line-height: 48px;
}	

.txt-faster {
	position: absolute;
	left: 47.4%;
	top: 436px;
	height: 48px;
	width: 101px;
	color: #283238;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: -0.07px;
	line-height: 48px;
}

.txt-together {
	position: absolute;
	left: 62.19%;
	top: 436px;

	height: 48px;
	width: 141px;
	color: #283238;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: -0.07px;
	line-height: 48px;
}

.txt-content {
	position: absolute;
	left: 35.21%;
	top: 537px;

	height: 24px;
	
	color: #283238;
	font-family: Roboto;
	font-size: 18px;
	font-style: italic;
	letter-spacing: -0.03px;
	line-height: 24px;
}


.start-now-banner {
	position: absolute;
	top:15px;
	right:47px;
	bottom:15px;
	left:47px;

	height: 21px;
	width: 101px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
}

.border-start-now-banner {
	position: relative;
	left: 44.95%;
	top: 592px;
	height: 50px;
	width: 195px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

/*}*/



@media only screen and (min-width: 960px) {
	 /* styles for browsers larger than 960px; */
	
}


